header{
    background: #BBBBBB;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;   
}
nav{
    position: absolute;
    top: 110px;
    right: 0;   
}
nav li {
    display: inline;
    margin: 0 0 0 15px;   
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: coral;
    text-decoration: underline;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: coral;
}

.produtos li:hover h2{
    font-size: 34px;
}
  

.produtos li:active {
    border-color: gold;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.produtos h2{
    font-size: 30px;
    font width: bold;

}
.produto-descriçao {
    font-size: 18px;

}
.produto-preço {
    font-size: 22px; 
    font-weight: bold;
    padding: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px;

}
footer p {
    color: honeydew;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, p {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block; 
    margin: 0 0 20px;
    padding: 10px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}